
body{
    padding: 100px;
}
h1{
    padding: 100px;

}
.submit-area{
    padding: 40px;
    /* margin: 50px 100px; */
    margin-top: 50px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;

}
.status{
    padding: 20px;
    margin: 10px 30px;
    color: white;
    border-radius: 10px;
}
.deposit{
    background-color: blue;
}
.withdraw{
    background-color: orange;
}
.balance{
    background-color: rgb(114, 114, 10);
}